* {
    padding: 0;
    margin: 0;
}
body{
    background-image: url('./images/main.png');
    width: 100% ;
    height: 100%;
}
.div1 {
    background:blue;
    display: flex;
    align-items: center;
}

.div3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .logo-img{
    background-color: blue ;
    width: 80px;
    height: 70px;
}
.active , .list-element {
    padding: 25px;
}
.active a{
    text-decoration: none;
    color: white;
}

.list-element a{
    text-decoration: none;
    color: white;
}
.active, .list-element:hover{
       background-color: skyblue;
       border-radius: 3px;
}
.div2 {
    display: none;
}
.list-element:hover .div2  {
    display: block;
    position: absolute;
    background-color:blue;
    margin: 10px;
}
.div2 .inside-list{
    color: white;
    padding: 10px;
    border-bottom: 1px dotted;
}
.div2 .inside-list a:hover{
    background-color: skyblue;
}
